<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeSuite">
  <test thread-count="5" name="SmokeTest">
    <classes>
      <class name="ba.navigator.testing.SmokeTest">
      	<methods>
	      	<include name="ChooseCategory"></include>
	      	<include name="ChoosePlaceFromList"></include>
	      	<include name="CreateNewPlace"></include>
	      	<include name="Suggestion"></include>
	      	<include name="MapTest"></include>
      	</methods>
      </class>
    </classes>
  </test> <!-- SmokeTest -->
</suite> <!-- SmokeSuite -->
